* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
}


/* Header Style */

.header-top {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.809);
    padding: 2px 20px;
    color: rgb(255, 255, 255);
    transition: .5s ease-in-out;
}

.show {
    display: none;
}

.header-top p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.header-top .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top .social-media i {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0% 2px;
    font-size: 0.8rem;
    transition: .3s ease;
}

.header-top .social-media i:hover {
    background-color: rgb(83, 83, 83);
}

header {
    position: fixed;
    width: 100%;
    min-height: 10vh;
    background-color: white;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgb(71, 71, 71);
    z-index: 1;
}

header .hc {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin: 10px;
}

header nav ul li:hover {
    border-bottom: 2px solid rgb(0, 1, 90);
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}


/* End of Header Style */


/* Main */

main {
    width: 100%;
    height: auto;
    background-color: rgb(220, 220, 220);
}


/* Home */

.home {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: 1s ease;
    background: url(./Homepage\ design.png);
    overflow: hidden;
}

.home .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    animation: waiting 5s ease;
    color: rgb(255, 255, 255);
    background: linear-gradient(98deg, rgba(255, 255, 0, 0.576), rgba(0, 0, 255, 0.593), rgba(255, 0, 0, 0.552));
}

.text {
    width: 70%;
    margin: auto;
    text-align: center;
    animation: refresh 4s ease;
}

.home .text h4 {
    font-family: 'poppins' sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 25px;
}

.home .text h1 {
    font-family: 'Potta One', sans-serif;
    font-weight: 100;
    margin-bottom: 12px;
    font-size: 2.8rem;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.home .text h2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    font-size: 2.2rem;
    letter-spacing: 3px;
}

.home .text p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 50px;
    line-height: 1.5rem;
}

.home .text a {
    text-decoration: none;
    border: none;
    border: 2px solid rgba(0, 76, 241, 0.944);
    outline: none;
    padding: 8px 13px;
    border-radius: 10px;
    background-color: rgba(0, 76, 241, 0.944);
    color: rgb(22, 12, 46);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Potta One', sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
    color: white;
}

.home .text a:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.944);
    opacity: 0.85;
}


/* End of Home */


/* service */

.service {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    background-image: url(./maxim-berg-l1pgMU5AjLc-unsplash.jpg);
}

.service .sc h1 {
    margin-top: 40px;
    color: rgb(18, 14, 14);
}

.service .sc .sb {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 50px;
    width: 100%;
}

.sb .s-item {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.sb .s-item .text h1 {
    color: rgb(18, 14, 14)
}

.sb .s-item .text {
    text-align: left;
    height: 300px;
    color: rgb(62, 62, 62);
    line-height: 40px;
}

.s-item .text p {
    width: 80%;
    line-height: 25px;
}

.s-item .text button {
    margin-top: 15px;
    padding: 6px 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.s-item i {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
}


/* end of service */


/* Gallery */

.gallery,
.service {
    padding: 60px;
}

.gallery {
    background-color: rgb(255, 255, 255);
}

.gallery .gc,
.sc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery .gc h1,
.sc h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gc .gb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}

.g-img-bx {
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.g-img-bx img {
    transition: all .5s ease-out;
}

.g-img-bx img:hover {
    transform: scale(1.2);
}


/* End of gallery*/


/* customer */

.customer,
.value,
.gallery {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.customer {
    background: url(./Homepage\ design.png);
    overflow: hidden;
}

.customer .ovarlay {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(98deg, rgba(255, 255, 0, 0.761), rgba(0, 0, 255, 0.679), rgba(255, 0, 0, 0.704));
}

.customer h1 {
    margin: 20px;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
}

.customer .c-c {
    width: 60%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
}

.customer .c-c .text {
    width: 50%;
    margin: auto;
}

.c-c .imgs {
    overflow: hidden;
    padding: 20px;
}

.btn {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.btn .b-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-item i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.902);
    padding: 10px;
    color: navy;
    font-weight: bolder;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.b-item i:hover {
    background-color: transparent;
    color: white;
}


/* end of gallery */


/* value */

.value {
    background-color: rgb(224, 224, 224);
    height: auto;
}

.value .vb {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.value h1 {
    color: rgb(21, 19, 83);
    margin: 20px;
}

.vb .v-bx {
    width: 250px;
    height: 300px;
    background-color: rgba(179, 179, 179, 0.537);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    transition: all .3s ease-in-out;
}

.vb .v-bx:hover {
    transform: scale(1.03);
    background-color: transparent;
    color: rgb(27, 24, 85);
    box-shadow: 0 0 3px 0 gray;
}

.v-bx .imgb {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.v-bx .text {
    text-align: center;
}


/* End Main */

footer {
    width: 100%;
    margin-top: 40px;
    height: 20vh;
    background-color: rgb(0, 0, 0);
}